.control-panel{
    width:500px;
    left:30px;
}
#winners{
    right:100px;
}
#best-three{
    left:100px;
    width:350px
}
.user-steps-b{
    width:70px;
}
.user-time-b{
    width:90px;
}
.user-name-b{
    width:120px;
}